@import url('https://fonts.googleapis.com/css2?family=Gudea&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--text-color);
    font-family:serif;
}
:root{
    --text-color: white;
    --bg-url: url('/app/data/img/Mobile/BackgroundMobileBlack.jpg');
    --stroke-color: rgba(255, 255, 255, 0.502);
    --stroke-color-hover: rgba(255, 255, 255, 0.502);
    --surface-color: rgba(255, 255, 255, 0.1);
    --surface-color-hover: rgba(19, 19, 19, 0.1);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url('/app/data/svg/moon-light.svg');
}
body{
    background: var(--bg-url) no-repeat top center/cover;
}
.light{
    --text-color: black;
    /* --stroke-color: black; */
    --bg-url: url('/app/data/img/Mobile/BackgroundMobileWhite.jpg');
    --stroke-color: rgba(0,0,0,0.5);
    --stroke-color-hover: rgb(0, 0, 0);
    --surface-color: rgba(255, 255, 255, 0.1);
    --surface-color-hover: rgba(0, 0, 0, 0.263);
    --highlight-color: rgba(0,0,0,0.1);
    --switch-bg-url: url('/app/data/svg/sun-light.svg');

    
}

#container{
    width: 360px;
    margin: 0 auto;
    /* border: solid white; */
    display: block;
    margin-top: 56px;
}
#profile{
    text-align: center;
    padding: 24px;
}
#profile img{
    width: 112px;
}

#profile p{
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}

/* switch */
#switch{
    position: relative;
    width: 64px;
    margin: 4px auto;
}
#switch button{
    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url)center no-repeat;
    border: 0;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: right 0.5s;
}
.light #switch button{
    right: 0;
    left: initial;
}

#switch span{
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
}
ul li a{
    text-decoration: none;
    border-radius: 8px;
    border: solid 1px var(--stroke-color); 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    background: var(--surface-color);
    backdrop-filter: blur(4px);
    font-weight:bold;
    transition: background 0.5s;
}

ul li a:hover{
    border: solid 1px var(--stroke-color-hover); 
    background: var(--surface-color-hover);

}

#icons-social{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    padding-top: 24px;
}

#icons-social a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 16px;
    border-radius: 50%;
    transition: background 1s;
}

#icons-social a:hover{
    background:var(--highlight-color);
}
#footer{
    padding: 24px 0;
    text-align: center;
}